#imagem11,#imagem12,#imagem13,#imagem14,#imagem15,#imagem16,#imagem17{
    width: 100px ;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #A7837F;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px black;
}

#origamis ul li {
    display: inline-block;
    list-style: none;
    list-style-type: none;
    margin: 10px;   
}

h3 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

@media(max-width: 640px) {
    h3 {
        font-size: 14px;
        margin-bottom: 0;
    }
    #imagem11,#imagem12,#imagem13,#imagem14,#imagem15,#imagem16,#imagem17{
        width: 50px ;
        height: 50px;
        border-radius: 5px;
        border: 2px solid #A7837F;
        box-sizing: border-box;
        box-shadow: 0px 0px 8px black;
    }

    #imagem11 {
        position:absolute;
        left: 18%;
        top: 60%;
    }

    #imagem12 {
        position:absolute;
        left: 44%;
        top: 60%;
    }

    #imagem13 {
        position:absolute;
        left: 68%;
        top: 60%;
    }

    #imagem14 {
        position:absolute;
        left: 18%;
        top: 72%;
    }

    #imagem15 {
        position:absolute;
        left: 44%;
        top: 72%;
    }

    #imagem16 {
        position:absolute;
        left: 68%;
        top: 72%;
    }

    #imagem17 {
        position:absolute;
        left: 18%;
        top: 84%;
    }

    footer {
        position: relative;
        top: 10%;
        
    }
}

/* @media only screen and (min-width: 800px) {
    #imagem11 {
        position:absolute;
        left: 18%;
        top: 40%;
    }

    #imagem12 {
        position:absolute;
        left: 44%;
        top: 50%;
    }

    #imagem13 {
        position:absolute;
        left: 68%;
        top: 50%;
    }

    #imagem14 {
        position:absolute;
        left: 18%;
        top: 60%;
    }

    #imagem15 {
        position:absolute;
        left: 44%;
        top: 60%;
    }

    #imagem16 {
        position:absolute;
        left: 68%;
        top: 60%;
    }

    #imagem17 {
        position:absolute;
        left: 18%;
        top: 70%;
    }
}
 */
