figure {
    text-align: center;
}

#banner_cozinha{
    width: 400px;
    height: 250px;
    border-radius: 5px;
    border: 2px solid #A7837F;    
    box-sizing: border-box;
    box-shadow: 0px 0px 8px black;
}

@media only screen and (max-width: 640px) {
    #banner_cozinha {
        width: 200px;
        height: 130px;
    }

    footer {
        position: relative;
        top: 26%;
        
    }
}

@media only screen and (max-width: 900px) {
    #banner_cozinha {
        width: 200px;
        height: 130px;
    }
}
