#imagem1,#imagem2,#imagem3,#imagem4,#imagem5,#imagem6,#imagem7,
#imagem8,#imagem9,#imagem10 
    {
    width: 100px ;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #A7837F;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px black;
    display: flex;
    
}

#origamis ul li {
    display: inline-block;
    list-style: none;
    list-style-type: none;
    margin: 10px;   
}

h3 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

@media (max-width: 640px) {
    h3 {
        font-size: 14px;
        margin-bottom: 0;
    }

    #imagem1,#imagem2,#imagem3,#imagem4,#imagem5,#imagem6,#imagem7,
    #imagem8,#imagem9,#imagem10 
        {
        width: 50px ;
        height: 50px;
        border-radius: 5px;
        border: 2px solid #A7837F;
        box-sizing: border-box;
        box-shadow: 0px 0px 8px black;
    }

    #imagem1 {
        position:absolute;
        left: 18%;
        top: 60%;
    }

    #imagem2 {
        position:absolute;
        left: 44%;
        top: 60%;
    }

    #imagem3 {
        position:absolute;
        left: 68%;
        top: 60%;
    }

    #imagem4 {
        position:absolute;
        left: 18%;
        top: 72%;
    }

    #imagem5 {
        position:absolute;
        left: 44%;
        top: 72%;
    }

    #imagem6 {
        position:absolute;
        left: 68%;
        top: 72%;
    }

    #imagem7 {
        position:absolute;
        left: 18%;
        top: 84%;
    }

    #imagem8 {
        position:absolute;
        left: 44%;
        top: 84%;
    }

    #imagem9 {
        position:absolute;
        left: 68%;
        top: 84%;
    }

    #imagem10 {
        position:absolute;
        left: 18%;
        top: 96%;
    }

    #imagem1:hover,#imagem2:hover,#imagem3:hover,#imagem4:hover,
    #imagem5:hover,#imagem6:hover,#imagem7:hover,#imagem8:hover,
    #imagem9:hover,#imagem10:hover  {
        width: 100px ;
        height: 100px;
    }
    

    footer {
        position: relative;
        top: 26%;
        
    }
}
