#imagem1,#imagem2,#imagem3,#imagem4,#imagem5,#imagem6,#imagem7,
#imagem8,#imagem9,#imagem10 
    {
    width: 100px ;
    height: 100px;
    border-radius: 5px;
    border: 2px solid #A7837F;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px black;
}

#origamis ul li {
    display: inline-block;
    list-style: none;
    list-style-type: none;
    margin: 10px;   
}

h3 {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}



